<html>
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/plugins/layui/css/layui.css}">
</head>
<body>
<div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">专业名称</label>
            <div class="layui-input-inline layui-input-wrap">
                <input type="text" id="majorName" name="majorName" class="layui-input">
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
</body>
</html>

