<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyg.dao.DeptMapper">
    <resultMap type="Dept" id="DeptMap">
        <id column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
    </resultMap>

    <!-- 查询用户表记录数 -->
    <select id="count" resultType="int" parameterType="Dept">
        select count(1) as count from sys_dept  where 1 = 1
        <if test="deptName != null and deptName != ''">
            and dept_name like concat('%',#{deptName},'%')
        </if>
    </select>

    <!-- 查询用户表所有信息 -->
    <select id="findAll" resultMap="DeptMap">
        select dept_id,dept_name from sys_dept where 1 = 1
        <if test="dept.deptName != null and dept.deptName != ''">
            and dept_name like concat('%',#{dept.deptName},'%')
        </if>
        limit #{offset},#{pageSize}
    </select>

    <insert id="addDept" parameterType="Dept">
        insert into sys_dept(dept_name) values(#{deptName})
    </insert>

    <delete id="deleteDept" parameterType="int">
        delete from sys_dept where dept_id = #{deptId}
    </delete>

    <select id="findDeptById" parameterType="int" resultMap="DeptMap">
        select * from sys_dept where dept_id = #{deptId}
    </select>

    <select id="getDeptList" resultMap="DeptMap">
        select dept_id,dept_name from sys_dept
    </select>

    <update id="updateDept" parameterType="Dept">
        update sys_dept set dept_name = #{deptName} where dept_id = #{deptId}
    </update>
</mapper>