<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyg.dao.GradeMapper">



    <select id="getGradeList" resultType="com.zyg.pojo.Grade">
        select grade_id,grade_name from sys_grade
    </select>
</mapper>