<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/plugins/layui/css/layui.css}" >
</head>
<body>
<div th:object="${grade}">
    <input type="hidden" id="gradeId" th:field="*{gradeId}">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">年级名称</label>
            <div class="layui-input-inline layui-input-wrap">
                <input type="text" id="gradeName"  th:field="*{gradeName}" class="layui-input">
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
</body>
</html>



